@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin overview</h1>
    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">Access and edit products:</p>
            <a asp-action="Products" asp-controller="Product" class="btn btn-primary">Enter</a>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text">Access and edit users:</p>
                <a asp-action="Users" asp-controller="User" class="btn btn-primary">Enter</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <p class="card-text">Access and edit customers:</p>
                <a asp-action="Customers" asp-controller="Customer" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
</div>
