@using Soup.OrderSystem.Logic.DTO
@model List<UserDTO>
@{
    ViewData["Title"] = "View";
}

<p>These are all the users registered</p>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserDTO item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td> 
                    <a class="btn btn-info" asp-controller="User" asp-action="Update" asp-route-id="@item.UserId">Update information</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.UserId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>


