@model Soup.OrderSystem.Objects.User.UserDetails
@{
    ViewData["Title"] = "Update";
}
<h1>Update User</h1>
<h4>User</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            @*//TODO: implement login so user can only update pw is they are logged in*@
@*             <div class="form-group">
                <label asp-for="PassWordHash" class="control-label"></label>
                <input asp-for="PassWordHash" class="form-control" />
                <span asp-validation-for="PassWordHash" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="GetUsers">Back to List</a>
            </div>
        </form>
    </div>
</div>
