@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    <a asp-action="GetUsers" class="btn btn-primary">Overview</a>
    <a asp-action="Create" class="btn btn-info">Add user</a>
</div>