@{
    ViewData["Title"] = "Home-Customers";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
    <a asp-action="GetCustomers" class="btn btn-primary">Overview</a>
    <a asp-action="CreateCustomer" class="btn btn-info">Add Customers</a>
</div>