@using Soup.OrderSystem.Logic.DTO
@model List<ProductDTO>
@{
    ViewData["HomePage"] = "Overview";
}
<div class="container text-center">
    <div class="row">
@foreach (ProductDTO product in Model)
{       <input type="hidden" value="@product.ProductID" />
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@product.ProductName</h4>
                    <a asp-action="Add" asp-controller="ShoppingCart" asp-route-id="@product.ProductID" class="btn btn-primary">Add to Cart</a>
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductID" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

    
}
</div>
</div>