@{
    ViewData["Title"] = "Home-Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <a asp-action="GetProducts" class="btn btn-primary">Overview</a>
    <a asp-action="CreateProduct" class="btn btn-info">Add Product</a>
</div>